PORT=5000
MONGO_URI=mongodb+srv://locminh333_db_user:p2F1lnElTlzc9ghS@laxsik-db.dawh8sk.mongodb.net/?appName=laxsik-db
JWT_SECRET=sfefwqfas
NODE_ENV=development
CLOUDINARY_API_KEY=266888751683675
CLOUDINARY_API_SECRET=HNX7kaIoA8ozTb4Wo-Pm8Vugqxs
CLOUDINARY_CLOUD_NAME=kvdxshzb