@theme {
  /** Colors */
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary: #0d4949;
  --color-error: #e05454;
  /** Input */
  --color-input-border: #0000001a;
  --color-input-border-hover: #00000033;
  --color-input-border-focus: #00000066;
  --color-input-background: #ffffff;
}
